Repository securesign/trillian: changes, and which Tekton pipelines are due for each by the changed paths.
All: createtree-on-pull-request, database-on-push, logserver-on-push, redis-on-pull-request, updatetree-on-push

createtree-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/securesign/trillian-createtree:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
    value: Dockerfile.createtree.rh
  - name: build-source-image
  ...

database-on-push:
  params:
  - name: dockerfile
    value: Dockerfile.database.rh
  - name: git-url
    value: '{{repo_url}}'
  - name: output-image
    value: quay.io/securesign/trillian-database:{{revision}}
  - name: path-context
    value: .
  - name: revision
    value: '{{revision}}'
  - name: build-source-image
    value: 'true'
  ...

logserver-on-push:
  params:
  - name: release-version
    value: 1.4.0
  - name: dockerfile
    value: Dockerfile.logserver.rh
  - name: git-url
    value: '{{repo_url}}'
  - name: output-image
    value: quay.io/securesign/trillian-logserver:{{revision}}
  - name: path-context
    value: .
  - name: revision
    value: '{{revision}}'
  ...

redis-on-pull-request:
  params:
  - name: dockerfile
    value: Dockerfile.redis.rh
  - name: git-url
    value: '{{source_url}}'
  - name: image-expires-after
    value: 5d
  - name: output-image
    value: quay.io/securesign/trillian-redis:on-pr-{{revision}}
  - name: path-context
    value: .
  - name: revision
    value: '{{revision}}'
  ...

updatetree-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/securesign/trillian-updatetree:{{revision}}
  - name: dockerfile
    value: Dockerfile.updatetree.rh
  - name: build-source-image
    value: 'true'
  - name: prefetch-input
  ...

chore: add release-version param (#537)
  .tekton/createtree-pull-request.yaml
  .tekton/createtree-push.yaml
  .tekton/database-pull-request.yaml
  .tekton/database-push.yaml
  .tekton/logserver-pull-request.yaml
  .tekton/logserver-push.yaml
  .tekton/logsigner-pull-request.yaml
  .tekton/logsigner-push.yaml
  .tekton/redis-pull-request.yaml
  .tekton/redis-push.yaml
  .tekton/updatetree-pull-request.yaml
  .tekton/updatetree-push.yaml
Due: createtree-on-pull-request, database-on-push, logserver-on-push, redis-on-pull-request, updatetree-on-push

chore: add release-version param (#535)
  .tekton/createtree-pull-request.yaml
  .tekton/createtree-push.yaml
  .tekton/database-pull-request.yaml
  .tekton/database-push.yaml
  .tekton/logserver-pull-request.yaml
  .tekton/logserver-push.yaml
  .tekton/logsigner-pull-request.yaml
  .tekton/logsigner-push.yaml
  .tekton/redis-pull-request.yaml
  .tekton/redis-push.yaml
  .tekton/updatetree-pull-request.yaml
  .tekton/updatetree-push.yaml
Due: createtree-on-pull-request, database-on-push, logserver-on-push, redis-on-pull-request, updatetree-on-push

chore: update builder images
  Dockerfile.createtree.rh
  Dockerfile.logserver.rh
  Dockerfile.logsigner.rh
  Dockerfile.updatetree.rh
Due: createtree-on-pull-request, logserver-on-push, updatetree-on-push

chore: update builder images (#540)
  Dockerfile.createtree.rh
  Dockerfile.logserver.rh
  Dockerfile.logsigner.rh
  Dockerfile.updatetree.rh
Due: createtree-on-pull-request, logserver-on-push, updatetree-on-push

chore: update builder images (#541)
  Dockerfile.createtree.rh
  Dockerfile.logserver.rh
  Dockerfile.logsigner.rh
  Dockerfile.updatetree.rh
Due: createtree-on-pull-request, logserver-on-push, updatetree-on-push

chore: update setup-go, golangci-lint-action and glangci-lint
  .github/workflows/golangci-lint.yml
  .github/workflows/test_crdb.yaml
  .github/workflows/test_pgdb.yaml
Due: none

chore: update etcd dependencies to address API changes
  go.mod
  go.sum
Due: createtree-on-pull-request, logserver-on-push, updatetree-on-push

Retrigger-Build
  trigger-konflux-builds.txt
Due: createtree-on-pull-request, database-on-push, logserver-on-push, redis-on-pull-request, updatetree-on-push

Retrigger-Build (#560)
  trigger-konflux-builds.txt
Due: createtree-on-pull-request, database-on-push, logserver-on-push, redis-on-pull-request, updatetree-on-push

Addressing Dario cat name
  go.mod
  go.sum
Due: createtree-on-pull-request, logserver-on-push, updatetree-on-push

Updating timestamp to trigger build
  trigger-konflux-builds.txt
Due: createtree-on-pull-request, database-on-push, logserver-on-push, redis-on-pull-request, updatetree-on-push

Updating go mod
  go.mod
  go.sum
Due: createtree-on-pull-request, logserver-on-push, updatetree-on-push

Updating timestamp to trigger build (#566)
  trigger-konflux-builds.txt
Due: createtree-on-pull-request, database-on-push, logserver-on-push, redis-on-pull-request, updatetree-on-push

:robot: Updated timestamp file to 2026-02-04,16-51-45.
  trigger-konflux-builds.txt
Due: createtree-on-pull-request, database-on-push, logserver-on-push, redis-on-pull-request, updatetree-on-push

chore: update nudge regexp
  .tekton/createtree-push.yaml
  .tekton/database-push.yaml
  .tekton/logserver-push.yaml
  .tekton/logsigner-push.yaml
  .tekton/redis-push.yaml
Due: database-on-push, logserver-on-push

chore: udpate nudge regexp
  .tekton/createtree-push.yaml
  .tekton/database-push.yaml
  .tekton/logserver-push.yaml
  .tekton/logsigner-push.yaml
  .tekton/redis-push.yaml
Due: database-on-push, logserver-on-push

Update createtree-push.yaml
  .tekton/createtree-push.yaml
Due: none

Update updatetree-push.yaml
  .tekton/updatetree-push.yaml
Due: updatetree-on-push

Updating 1.2 Dockerfile labels
  Dockerfile.createtree.rh
  Dockerfile.database.rh
  Dockerfile.logserver.rh
  Dockerfile.logsigner.rh
  Dockerfile.redis.rh
  Dockerfile.updatetree.rh
Due: createtree-on-pull-request, database-on-push, logserver-on-push, redis-on-pull-request, updatetree-on-push

Updating 1.2 Dockerfile labels (#579)
  Dockerfile.createtree.rh
  Dockerfile.database.rh
  Dockerfile.logserver.rh
  Dockerfile.logsigner.rh
  Dockerfile.redis.rh
  Dockerfile.updatetree.rh
Due: createtree-on-pull-request, database-on-push, logserver-on-push, redis-on-pull-request, updatetree-on-push

:robot: Updated timestamp file to 2026-02-19,11-18-57.
  trigger-konflux-builds.txt
Due: createtree-on-pull-request, database-on-push, logserver-on-push, redis-on-pull-request, updatetree-on-push

Updated builder image
  Dockerfile.createtree.rh
  Dockerfile.database.rh
  Dockerfile.logserver.rh
  Dockerfile.logsigner.rh
  Dockerfile.netcat.rh
  Dockerfile.redis.rh
  Dockerfile.updatetree.rh
Due: createtree-on-pull-request, database-on-push, logserver-on-push, redis-on-pull-request, updatetree-on-push

Updated builder image & release version
  .tekton/createtree-pull-request.yaml
  .tekton/createtree-push.yaml
  .tekton/database-pull-request.yaml
  .tekton/database-push.yaml
  .tekton/logserver-pull-request.yaml
  .tekton/logserver-push.yaml
  .tekton/logsigner-pull-request.yaml
  .tekton/logsigner-push.yaml
  .tekton/redis-pull-request.yaml
  .tekton/redis-push.yaml
  .tekton/updatetree-pull-request.yaml
  .tekton/updatetree-push.yaml
  Dockerfile.createtree.rh
  Dockerfile.database.rh
  Dockerfile.logserver.rh
  Dockerfile.logsigner.rh
  Dockerfile.netcat.rh
  Dockerfile.redis.rh
  Dockerfile.updatetree.rh
Due: createtree-on-pull-request, database-on-push, logserver-on-push, redis-on-pull-request, updatetree-on-push

Fixing Lint ci
  .github/workflows/golangci-lint.yml
Due: none

ci: trigger build
  Dockerfile.createtree.rh
Due: createtree-on-pull-request

Fixing Go Mod file
  go.mod
  go.sum
Due: createtree-on-pull-request, logserver-on-push, updatetree-on-push

Running Dep Updates
  go.mod
  go.sum
Due: createtree-on-pull-request, logserver-on-push, updatetree-on-push

add cli-stack stage for updatetree and createtree
  .tekton/createtree-push.yaml
  .tekton/trillian-cli-stack-pull-request.yaml
  .tekton/trillian-cli-stack-push.yaml
  .tekton/updatetree-push.yaml
  Dockerfile.cli-stack.rh
Due: updatetree-on-push

Renaming Major Deps
  go.mod
  go.sum
Due: createtree-on-pull-request, logserver-on-push, updatetree-on-push

Updating Go Deps
  go.mod
  go.sum
Due: createtree-on-pull-request, logserver-on-push, updatetree-on-push

Updating go mod post rebase
  go.mod
  go.sum
Due: createtree-on-pull-request, logserver-on-push, updatetree-on-push

Updating etcd
  go.mod
  go.sum
Due: createtree-on-pull-request, logserver-on-push, updatetree-on-push

Fixing Lint
  .github/workflows/golangci-lint.yml
  .github/workflows/test_crdb.yaml
  .github/workflows/test_pgdb.yaml
Due: none

Downgrading Prometheus Package
  go.mod
  go.sum
Due: createtree-on-pull-request, logserver-on-push, updatetree-on-push

Linter errors
  crypto/keys/pkcs11/no_pkcs11.go
  crypto/keys/pkcs11/pkcs11.go
  crypto/keys/pkcs11/pkcs11_test.go
  storage/cloudspanner/storage_provider.go
  storage/crdb/errors.go
Due: logserver-on-push

Linter errors
  experimental/batchmap/tmap_test.go
  quota/redis/redistb/embed_redis.go
  quota/redis/redistb/redistb_test.go
Due: none

Linter errors
  storage/mysql/queue.go
  storage/mysql/queue_batching.go
  tools/tools.go
Due: logserver-on-push

Path conditions:
  createtree-on-pull-request: (((((((any of: .tekton/createtree-pull-request.yaml) or (any of: Dockerfile.createtree.rh)) or (any of: trigger-konflux-builds.txt)) or (any of: go.mod)) or (any of: go.sum)) or (any of: cmd/createtree/***)) or (any of: client/***)) or (any of: Build-clis.mak)
  database-on-push: (((((any of: 60-load-db.sh) or (any of: examples/deployment/docker/db_server/mysql.cnf)) or (any of: storage/mysql/schema/storage.sql)) or (any of: .tekton/database-push.yaml)) or (any of: Dockerfile.database.rh)) or (any of: trigger-konflux-builds.txt)
  logserver-on-push: ((((((any of: go.mod) or (any of: go.sum)) or (any of: .tekton/logserver-push.yaml)) or (any of: Dockerfile.logserver.rh)) or (any of: cmd/trillian_log_server/***)) or (any of: storage/***)) or (any of: trigger-konflux-builds.txt)
  redis-on-pull-request: ((any of: .tekton/redis-pull-request.yaml) or (any of: Dockerfile.redis.rh)) or (any of: trigger-konflux-builds.txt)
  updatetree-on-push: (((((((any of: .tekton/updatetree-push.yaml) or (any of: Dockerfile.updatetree.rh)) or (any of: trigger-konflux-builds.txt)) or (any of: go.mod)) or (any of: go.sum)) or (any of: cmd/updatetree/***)) or (any of: client/***)) or (any of: Build-clis.mak)
