Repository securesign/trillian: changes, and which Tekton pipelines are due for each by the changed paths.
All: createtree-on-pull-request, database-on-push, logserver-on-push, redis-on-pull-request, updatetree-on-push

Path conditions:
  createtree-on-pull-request: (((((((any of: .tekton/createtree-pull-request.yaml) or (any of: Dockerfile.createtree.rh)) or (any of: trigger-konflux-builds.txt)) or (any of: go.mod)) or (any of: go.sum)) or (any of: cmd/createtree/***)) or (any of: client/***)) or (any of: Build-clis.mak)
  database-on-push: (((((any of: 60-load-db.sh) or (any of: examples/deployment/docker/db_server/mysql.cnf)) or (any of: storage/mysql/schema/storage.sql)) or (any of: .tekton/database-push.yaml)) or (any of: Dockerfile.database.rh)) or (any of: trigger-konflux-builds.txt)
  logserver-on-push: ((((((any of: go.mod) or (any of: go.sum)) or (any of: .tekton/logserver-push.yaml)) or (any of: Dockerfile.logserver.rh)) or (any of: cmd/trillian_log_server/***)) or (any of: storage/***)) or (any of: trigger-konflux-builds.txt)
  redis-on-pull-request: ((any of: .tekton/redis-pull-request.yaml) or (any of: Dockerfile.redis.rh)) or (any of: trigger-konflux-builds.txt)
  updatetree-on-push: (((((((any of: .tekton/updatetree-push.yaml) or (any of: Dockerfile.updatetree.rh)) or (any of: trigger-konflux-builds.txt)) or (any of: go.mod)) or (any of: go.sum)) or (any of: cmd/updatetree/***)) or (any of: client/***)) or (any of: Build-clis.mak)

Update golangci-lint.yml
  .github/workflows/golangci-lint.yml
Due: none

Update due to lint request
  .github/workflows/golangci-lint.yml
Due: none

Renaming mergo
  go.mod
  go.sum
Due: createtree-on-pull-request, logserver-on-push, updatetree-on-push

Running go mod tidy
  go.mod
  go.sum
Due: createtree-on-pull-request, logserver-on-push, updatetree-on-push

Updated etcd dependency
  go.mod
  go.sum
Due: createtree-on-pull-request, logserver-on-push, updatetree-on-push

Updated lint
  .github/workflows/golangci-lint.yml
  .github/workflows/test_crdb.yaml
  .github/workflows/test_pgdb.yaml
Due: none

Downgraded prometheus
  go.mod
  go.sum
Due: createtree-on-pull-request, logserver-on-push, updatetree-on-push

Fix depriciated lines
  docs/claimantmodel/experimental/cmd/render/main.go
  storage/cloudspanner/storage_provider.go
  storage/crdb/errors.go
Due: logserver-on-push

Removing pgproto
  go.mod
  go.sum
  storage/crdb/provider.go
Due: createtree-on-pull-request, logserver-on-push, updatetree-on-push

Updating Tekton files to 1.3.4
  .tekton/createtree-pull-request.yaml
  .tekton/createtree-push.yaml
  .tekton/database-pull-request.yaml
  .tekton/database-push.yaml
  .tekton/logserver-pull-request.yaml
  .tekton/logserver-push.yaml
  .tekton/logsigner-pull-request.yaml
  .tekton/logsigner-push.yaml
  .tekton/redis-pull-request.yaml
  .tekton/redis-push.yaml
  .tekton/updatetree-pull-request.yaml
  .tekton/updatetree-push.yaml
Due: createtree-on-pull-request, database-on-push, logserver-on-push, redis-on-pull-request, updatetree-on-push

Updating CRDB
  storage/crdb/provider.go
  storage/crdb/tree_storage.go
Due: logserver-on-push

Removing pgproto (#612)
  .tekton/createtree-pull-request.yaml
  .tekton/createtree-push.yaml
  .tekton/database-pull-request.yaml
  .tekton/database-push.yaml
  .tekton/logserver-pull-request.yaml
  .tekton/logserver-push.yaml
  .tekton/logsigner-pull-request.yaml
  .tekton/logsigner-push.yaml
  .tekton/redis-pull-request.yaml
  .tekton/redis-push.yaml
  .tekton/updatetree-pull-request.yaml
  .tekton/updatetree-push.yaml
  go.mod
  go.sum
  storage/crdb/provider.go
  storage/crdb/tree_storage.go
Due: createtree-on-pull-request, database-on-push, logserver-on-push, redis-on-pull-request, updatetree-on-push

Update Tekton pipelines for release-1.4 branch
  .tekton/createtree-pull-request.yaml
  .tekton/createtree-push.yaml
  .tekton/database-pull-request.yaml
  .tekton/database-push.yaml
  .tekton/logserver-pull-request.yaml
  .tekton/logserver-push.yaml
  .tekton/logsigner-pull-request.yaml
  .tekton/logsigner-push.yaml
  .tekton/redis-pull-request.yaml
  .tekton/redis-push.yaml
  .tekton/trillian-cli-stack-pull-request.yaml
  .tekton/trillian-cli-stack-push.yaml
  .tekton/updatetree-pull-request.yaml
  .tekton/updatetree-push.yaml
Due: createtree-on-pull-request, database-on-push, logserver-on-push, redis-on-pull-request, updatetree-on-push

Update release version to 1.4.1
  .tekton/createtree-pull-request.yaml
  .tekton/createtree-push.yaml
  .tekton/database-pull-request.yaml
  .tekton/database-push.yaml
  .tekton/logserver-pull-request.yaml
  .tekton/logserver-push.yaml
  .tekton/logsigner-pull-request.yaml
  .tekton/logsigner-push.yaml
  .tekton/redis-pull-request.yaml
  .tekton/redis-push.yaml
  .tekton/trillian-cli-stack-pull-request.yaml
  .tekton/trillian-cli-stack-push.yaml
  .tekton/updatetree-pull-request.yaml
  .tekton/updatetree-push.yaml
Due: createtree-on-pull-request, database-on-push, logserver-on-push, redis-on-pull-request, updatetree-on-push

Running Fixes
  go.mod
  go.sum
Due: createtree-on-pull-request, logserver-on-push, updatetree-on-push

Testing Credential swap
  .tekton/trillian-cli-stack-pull-request.yaml
Due: none

Adding back original service account
  .tekton/trillian-cli-stack-pull-request.yaml
Due: none

Updating Dockerfiles
  examples/deployment/docker/log_server/Dockerfile
  examples/deployment/docker/log_signer/Dockerfile
  integration/cloudbuild/testbase/Dockerfile
Due: none

Updtaing golangci-lint
  .github/workflows/golangci-lint.yml
Due: none

Updating db lint
  .github/workflows/test_crdb.yaml
  .github/workflows/test_pgdb.yaml
Due: none

Addressing crdb lint
  storage/crdb/errors.go
Due: logserver-on-push

Snyk CVE fixes
  go.mod
  go.sum
Due: createtree-on-pull-request, logserver-on-push, updatetree-on-push

Addressing CVE
  go.mod
  go.sum
Due: createtree-on-pull-request, logserver-on-push, updatetree-on-push

Addressing Lint
  docs/claimantmodel/experimental/cmd/render/main.go
  storage/cloudspanner/storage_provider.go
Due: logserver-on-push

Addressing More lint issues
  storage/cloudspanner/storage_provider.go
Due: logserver-on-push

Updating create-tree tekton
  .tekton/createtree-pull-request.yaml
  .tekton/createtree-push.yaml
Due: createtree-on-pull-request

Update release-version to 1.3.5
  .tekton/createtree-pull-request.yaml
  .tekton/createtree-push.yaml
  .tekton/database-pull-request.yaml
  .tekton/database-push.yaml
  .tekton/logserver-pull-request.yaml
  .tekton/logserver-push.yaml
  .tekton/logsigner-pull-request.yaml
  .tekton/logsigner-push.yaml
  .tekton/redis-pull-request.yaml
  .tekton/redis-push.yaml
  .tekton/updatetree-pull-request.yaml
  .tekton/updatetree-push.yaml
Due: createtree-on-pull-request, database-on-push, logserver-on-push, redis-on-pull-request, updatetree-on-push

chore: update deps
  .tekton/createtree-pull-request.yaml
  .tekton/createtree-push.yaml
  .tekton/database-pull-request.yaml
  .tekton/database-push.yaml
  .tekton/logserver-pull-request.yaml
  .tekton/logserver-push.yaml
  .tekton/logsigner-pull-request.yaml
  .tekton/logsigner-push.yaml
  .tekton/updatetree-pull-request.yaml
  .tekton/updatetree-push.yaml
  Dockerfile.cli-stack.rh
  Dockerfile.createtree.rh
  Dockerfile.logserver.rh
  Dockerfile.logsigner.rh
  Dockerfile.netcat.rh
  Dockerfile.updatetree.rh
  go.mod
  go.sum
Due: createtree-on-pull-request, database-on-push, logserver-on-push, updatetree-on-push

Red Hat Konflux update create-tree-v1-4
  .tekton/create-tree-v1-4-pull-request.yaml
  .tekton/create-tree-v1-4-push.yaml
Due: none

Red Hat Konflux update database-v1-4
  .tekton/database-v1-4-pull-request.yaml
  .tekton/database-v1-4-push.yaml
Due: none

Red Hat Konflux update logserver-v1-4
  .tekton/logserver-v1-4-pull-request.yaml
  .tekton/logserver-v1-4-push.yaml
Due: none

Red Hat Konflux update logsigner-v1-4
  .tekton/logsigner-v1-4-pull-request.yaml
  .tekton/logsigner-v1-4-push.yaml
Due: none

Red Hat Konflux update redis-v1-4
  .tekton/redis-v1-4-pull-request.yaml
  .tekton/redis-v1-4-push.yaml
Due: none

Red Hat Konflux update trillian-cli-stack-v1-4
  .tekton/trillian-cli-stack-v1-4-pull-request.yaml
  .tekton/trillian-cli-stack-v1-4-push.yaml
Due: none

Red Hat Konflux update updatetree-v1-4
  .tekton/updatetree-v1-4-pull-request.yaml
  .tekton/updatetree-v1-4-push.yaml
Due: none

Update release-version to 1.3.5 (#631)
  .tekton/createtree-pull-request.yaml
  .tekton/createtree-push.yaml
  .tekton/database-pull-request.yaml
  .tekton/database-push.yaml
  .tekton/logserver-pull-request.yaml
  .tekton/logserver-push.yaml
  .tekton/logsigner-pull-request.yaml
  .tekton/logsigner-push.yaml
  .tekton/redis-pull-request.yaml
  .tekton/redis-push.yaml
  .tekton/updatetree-pull-request.yaml
  .tekton/updatetree-push.yaml
Due: createtree-on-pull-request, database-on-push, logserver-on-push, redis-on-pull-request, updatetree-on-push

Renaming Pipelines to match
  .tekton/createtree-pull-request.yaml
  .tekton/createtree-push.yaml
  .tekton/database-pull-request.yaml
  .tekton/database-push.yaml
  .tekton/logserver-pull-request.yaml
  .tekton/logserver-push.yaml
  .tekton/logsigner-pull-request.yaml
  .tekton/logsigner-push.yaml
  .tekton/redis-pull-request.yaml
  .tekton/redis-push.yaml
  .tekton/trillian-cli-stack-pull-request.yaml
  .tekton/trillian-cli-stack-push.yaml
  .tekton/updatetree-pull-request.yaml
  .tekton/updatetree-push.yaml
Due: createtree-on-pull-request, database-on-push, logserver-on-push, redis-on-pull-request, updatetree-on-push

fix: swap ed25519 to standard lib (#3886)
  CHANGELOG.md
  crypto/keys/der/der.go
  crypto/keys/testonly/keys.go
  go.mod
Due: createtree-on-pull-request, logserver-on-push, updatetree-on-push

deps: run go mod tidy
  go.mod
Due: createtree-on-pull-request, logserver-on-push, updatetree-on-push

chore: fix changelog
  CHANGELOG.md
Due: none
