Repository securesign/trillian: changes, and which Tekton pipelines are due for each by the changed paths.
All: createtree-on-pull-request, database-on-push, logserver-on-push, redis-on-pull-request, updatetree-on-push

createtree-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/securesign/trillian-createtree:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
    value: Dockerfile.createtree.rh
  - name: build-source-image
  ...

database-on-push:
  params:
  - name: dockerfile
    value: Dockerfile.database.rh
  - name: git-url
    value: '{{repo_url}}'
  - name: output-image
    value: quay.io/securesign/trillian-database:{{revision}}
  - name: path-context
    value: .
  - name: revision
    value: '{{revision}}'
  - name: build-source-image
    value: 'true'
  ...

logserver-on-push:
  params:
  - name: release-version
    value: 1.4.0
  - name: dockerfile
    value: Dockerfile.logserver.rh
  - name: git-url
    value: '{{repo_url}}'
  - name: output-image
    value: quay.io/securesign/trillian-logserver:{{revision}}
  - name: path-context
    value: .
  - name: revision
    value: '{{revision}}'
  ...

redis-on-pull-request:
  params:
  - name: dockerfile
    value: Dockerfile.redis.rh
  - name: git-url
    value: '{{source_url}}'
  - name: image-expires-after
    value: 5d
  - name: output-image
    value: quay.io/securesign/trillian-redis:on-pr-{{revision}}
  - name: path-context
    value: .
  - name: revision
    value: '{{revision}}'
  ...

updatetree-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/securesign/trillian-updatetree:{{revision}}
  - name: dockerfile
    value: Dockerfile.updatetree.rh
  - name: build-source-image
    value: 'true'
  - name: prefetch-input
  ...

fix: align PipelineRun names with create-tree component name
  .tekton/createtree-pull-request.yaml
  .tekton/createtree-push.yaml
Due: createtree-on-pull-request

Update release-version to 1.3.7
  .tekton/createtree-pull-request.yaml
  .tekton/createtree-push.yaml
  .tekton/database-pull-request.yaml
  .tekton/database-push.yaml
  .tekton/logserver-pull-request.yaml
  .tekton/logserver-push.yaml
  .tekton/logsigner-pull-request.yaml
  .tekton/logsigner-push.yaml
  .tekton/redis-pull-request.yaml
  .tekton/redis-push.yaml
  .tekton/updatetree-pull-request.yaml
  .tekton/updatetree-push.yaml
Due: createtree-on-pull-request, database-on-push, logserver-on-push, redis-on-pull-request, updatetree-on-push

SECURESIGN-5379: add explicit workflow permissions
  .github/workflows/cronjobs.yaml
  .github/workflows/trigger-konflux-build.yaml
Due: none

chore: securesign-5419: pin github actions to their SHAs
  .github/workflows/sync-upstream.yaml
Due: none

SECURESIGN-5299 bump go.opentelemetry.io/otel to v1.44.0
  go.mod
  go.sum
Due: createtree-on-pull-request, logserver-on-push, updatetree-on-push

SECURESIGN-5280 bump go.opentelemetry.io/otel to v1.44.0
  go.mod
  go.sum
Due: createtree-on-pull-request, logserver-on-push, updatetree-on-push

SECURESIGN-5357 bump go.etcd.io/etcd to v3.6.14 for CVE-2026-73500
  go.mod
  go.sum
Due: createtree-on-pull-request, logserver-on-push, updatetree-on-push

SECURESIGN-5357 bump go.etcd.io/etcd to v3.6.14 Assisted-by: Claude
  go.mod
  go.sum
Due: createtree-on-pull-request, logserver-on-push, updatetree-on-push

SECURESIGN-5353: bump etcd family to v3.6.14 (CVE-2026-73500)
  go.mod
  go.sum
Due: createtree-on-pull-request, logserver-on-push, updatetree-on-push

Update release-version to 1.3.8
  .tekton/createtree-pull-request.yaml
  .tekton/createtree-push.yaml
  .tekton/database-pull-request.yaml
  .tekton/database-push.yaml
  .tekton/logserver-pull-request.yaml
  .tekton/logserver-push.yaml
  .tekton/logsigner-pull-request.yaml
  .tekton/logsigner-push.yaml
  .tekton/redis-pull-request.yaml
  .tekton/redis-push.yaml
  .tekton/updatetree-pull-request.yaml
  .tekton/updatetree-push.yaml
Due: createtree-on-pull-request, database-on-push, logserver-on-push, redis-on-pull-request, updatetree-on-push

SECURESIGN-5675 bump gRPC to v1.82.2
  go.mod
  go.sum
Due: createtree-on-pull-request, logserver-on-push, updatetree-on-push

SECURESIGN-5255 bump OpenTelemetry to v1.44.0
  go.mod
  go.sum
Due: createtree-on-pull-request, logserver-on-push, updatetree-on-push

fix: SECURESIGN-5672, 5673, 5674, 5685, 5676 update grpc to v1.82.2
  go.mod
  go.sum
Due: createtree-on-pull-request, logserver-on-push, updatetree-on-push

SECURESIGN-5675 update gRPC to v1.83.1
  go.mod
  go.sum
Due: createtree-on-pull-request, logserver-on-push, updatetree-on-push

SECURESIGN-5675 update gRPC to v1.83.2
  go.mod
  go.sum
Due: createtree-on-pull-request, logserver-on-push, updatetree-on-push

fix: updating grpc to address https://pkg.go.dev/vuln/GO-2026-6348
  go.mod
  go.sum
Due: createtree-on-pull-request, logserver-on-push, updatetree-on-push

chore: update release version to 1.4.4
  .tekton/createtree-pull-request.yaml
  .tekton/createtree-push.yaml
  .tekton/database-pull-request.yaml
  .tekton/database-push.yaml
  .tekton/logserver-pull-request.yaml
  .tekton/logserver-push.yaml
  .tekton/logsigner-pull-request.yaml
  .tekton/logsigner-push.yaml
  .tekton/redis-pull-request.yaml
  .tekton/redis-push.yaml
  .tekton/trillian-cli-stack-pull-request.yaml
  .tekton/trillian-cli-stack-push.yaml
  .tekton/updatetree-pull-request.yaml
  .tekton/updatetree-push.yaml
Due: createtree-on-pull-request, database-on-push, logserver-on-push, redis-on-pull-request, updatetree-on-push

Path conditions:
  createtree-on-pull-request: (((((((any of: .tekton/createtree-pull-request.yaml) or (any of: Dockerfile.createtree.rh)) or (any of: trigger-konflux-builds.txt)) or (any of: go.mod)) or (any of: go.sum)) or (any of: cmd/createtree/***)) or (any of: client/***)) or (any of: Build-clis.mak)
  database-on-push: (((((any of: 60-load-db.sh) or (any of: examples/deployment/docker/db_server/mysql.cnf)) or (any of: storage/mysql/schema/storage.sql)) or (any of: .tekton/database-push.yaml)) or (any of: Dockerfile.database.rh)) or (any of: trigger-konflux-builds.txt)
  logserver-on-push: ((((((any of: go.mod) or (any of: go.sum)) or (any of: .tekton/logserver-push.yaml)) or (any of: Dockerfile.logserver.rh)) or (any of: cmd/trillian_log_server/***)) or (any of: storage/***)) or (any of: trigger-konflux-builds.txt)
  redis-on-pull-request: ((any of: .tekton/redis-pull-request.yaml) or (any of: Dockerfile.redis.rh)) or (any of: trigger-konflux-builds.txt)
  updatetree-on-push: (((((((any of: .tekton/updatetree-push.yaml) or (any of: Dockerfile.updatetree.rh)) or (any of: trigger-konflux-builds.txt)) or (any of: go.mod)) or (any of: go.sum)) or (any of: cmd/updatetree/***)) or (any of: client/***)) or (any of: Build-clis.mak)
