Repository securesign/trillian: changes, and which Tekton pipelines are due for each by the changed paths.
All: createtree-on-pull-request, database-on-push, logserver-on-push, redis-on-pull-request, updatetree-on-push

createtree-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/securesign/trillian-createtree:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
    value: Dockerfile.createtree.rh
  - name: build-source-image
  ...

database-on-push:
  params:
  - name: dockerfile
    value: Dockerfile.database.rh
  - name: git-url
    value: '{{repo_url}}'
  - name: output-image
    value: quay.io/securesign/trillian-database:{{revision}}
  - name: path-context
    value: .
  - name: revision
    value: '{{revision}}'
  - name: build-source-image
    value: 'true'
  ...

logserver-on-push:
  params:
  - name: release-version
    value: 1.4.0
  - name: dockerfile
    value: Dockerfile.logserver.rh
  - name: git-url
    value: '{{repo_url}}'
  - name: output-image
    value: quay.io/securesign/trillian-logserver:{{revision}}
  - name: path-context
    value: .
  - name: revision
    value: '{{revision}}'
  ...

redis-on-pull-request:
  params:
  - name: dockerfile
    value: Dockerfile.redis.rh
  - name: git-url
    value: '{{source_url}}'
  - name: image-expires-after
    value: 5d
  - name: output-image
    value: quay.io/securesign/trillian-redis:on-pr-{{revision}}
  - name: path-context
    value: .
  - name: revision
    value: '{{revision}}'
  ...

updatetree-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/securesign/trillian-updatetree:{{revision}}
  - name: dockerfile
    value: Dockerfile.updatetree.rh
  - name: build-source-image
    value: 'true'
  - name: prefetch-input
  ...

add Qodo configuration
  .pr_agent.toml
Due: none

add Qodo configuration (#698)
  .pr_agent.toml
Due: none

fix: allow unencrypted PEM
  CHANGELOG.md
  crypto/keys/pem/pem.go
  crypto/keys/pem/pem_test.go
  testdata/log-rpc-server-unencrypted.privkey.pem
Due: none

Tekton Test
  .tekton/createtree-pull-request.yaml
  .tekton/createtree-push.yaml
  .tekton/database-pull-request.yaml
  .tekton/database-push.yaml
  .tekton/logserver-pull-request.yaml
  .tekton/logserver-push.yaml
  .tekton/logsigner-pull-request.yaml
  .tekton/logsigner-push.yaml
  .tekton/redis-pull-request.yaml
  .tekton/redis-push.yaml
  .tekton/trillian-cli-stack-pull-request.yaml
  .tekton/trillian-cli-stack-push.yaml
  .tekton/updatetree-pull-request.yaml
  .tekton/updatetree-push.yaml
Due: createtree-on-pull-request, database-on-push, logserver-on-push, redis-on-pull-request, updatetree-on-push

Tekton Test
  .tekton/database-pull-request.yaml
Due: none

Setting Image pull to latest
  Dockerfile.createtree.rh
Due: createtree-on-pull-request

Add sync-upstream workflow
  .github/workflows/sync-upstream.yaml
Due: none

feat: enable native go FIPS
  .github/workflows/golangci-lint.yml
  .github/workflows/test_crdb.yaml
  .github/workflows/test_pgdb.yaml
  Build-clis.mak
  Dockerfile.createtree.rh
  Dockerfile.logserver.rh
  Dockerfile.logsigner.rh
  Dockerfile.updatetree.rh
  docs/claimantmodel/experimental/cmd/render/main.go
  go.mod
Due: createtree-on-pull-request, logserver-on-push, updatetree-on-push

feat: move cross-compilation to cli-stack and simplify component images
  Dockerfile.cli-stack.rh
  Dockerfile.createtree.rh
  Dockerfile.updatetree.rh
Due: createtree-on-pull-request, updatetree-on-push

build: rework cli-stack, move cross-compilation out of component images
  .tekton/trillian-cli-stack-push.yaml
  Dockerfile.cli-stack.rh
  Dockerfile.createtree.rh
  Dockerfile.updatetree.rh
Due: createtree-on-pull-request, updatetree-on-push

fix: remove git update-index from component Dockerfiles
  Dockerfile.createtree.rh
  Dockerfile.updatetree.rh
Due: createtree-on-pull-request, updatetree-on-push

Update release-version to 1.4.2
  .tekton/createtree-pull-request.yaml
  .tekton/createtree-push.yaml
  .tekton/database-pull-request.yaml
  .tekton/database-push.yaml
  .tekton/logserver-pull-request.yaml
  .tekton/logserver-push.yaml
  .tekton/logsigner-pull-request.yaml
  .tekton/logsigner-push.yaml
  .tekton/redis-pull-request.yaml
  .tekton/redis-push.yaml
  .tekton/trillian-cli-stack-pull-request.yaml
  .tekton/trillian-cli-stack-push.yaml
  .tekton/updatetree-pull-request.yaml
  .tekton/updatetree-push.yaml
Due: createtree-on-pull-request, database-on-push, logserver-on-push, redis-on-pull-request, updatetree-on-push

Update release-version to 1.4.2 (#713)
  .tekton/createtree-pull-request.yaml
  .tekton/createtree-push.yaml
  .tekton/database-pull-request.yaml
  .tekton/database-push.yaml
  .tekton/logserver-pull-request.yaml
  .tekton/logserver-push.yaml
  .tekton/logsigner-pull-request.yaml
  .tekton/logsigner-push.yaml
  .tekton/redis-pull-request.yaml
  .tekton/redis-push.yaml
  .tekton/trillian-cli-stack-pull-request.yaml
  .tekton/trillian-cli-stack-push.yaml
  .tekton/updatetree-pull-request.yaml
  .tekton/updatetree-push.yaml
Due: createtree-on-pull-request, database-on-push, logserver-on-push, redis-on-pull-request, updatetree-on-push

Add ALLOW_CROSS_PLATFORM_IMAGES parameter to cli-stack pipelines
  .tekton/trillian-cli-stack-pull-request.yaml
  .tekton/trillian-cli-stack-push.yaml
Due: none

Add ALLOW_CROSS_PLATFORM_IMAGES parameter to cli-stack pipelines (#715)
  .tekton/trillian-cli-stack-pull-request.yaml
  .tekton/trillian-cli-stack-push.yaml
Due: none

fix: update prometheus dependency to handle CVE-2026-42151 and CVE-2026-42154
  go.mod
  go.sum
Due: createtree-on-pull-request, logserver-on-push, updatetree-on-push

Update cli-stack with platform-specific digests
  Dockerfile.cli-stack.rh
Due: none

Update cli-stack with platform-specific digests (#718)
  Dockerfile.cli-stack.rh
Due: none

Update release-version to 1.3.6 in Tekton pipelines
  .tekton/createtree-pull-request.yaml
  .tekton/createtree-push.yaml
  .tekton/database-pull-request.yaml
  .tekton/database-push.yaml
  .tekton/logserver-pull-request.yaml
  .tekton/logserver-push.yaml
  .tekton/logsigner-pull-request.yaml
  .tekton/logsigner-push.yaml
  .tekton/redis-pull-request.yaml
  .tekton/redis-push.yaml
  .tekton/updatetree-pull-request.yaml
  .tekton/updatetree-push.yaml
Due: createtree-on-pull-request, database-on-push, logserver-on-push, redis-on-pull-request, updatetree-on-push

Update release-version to 1.3.6 in Tekton pipelines (#719)
  .tekton/createtree-pull-request.yaml
  .tekton/createtree-push.yaml
  .tekton/database-pull-request.yaml
  .tekton/database-push.yaml
  .tekton/logserver-pull-request.yaml
  .tekton/logserver-push.yaml
  .tekton/logsigner-pull-request.yaml
  .tekton/logsigner-push.yaml
  .tekton/redis-pull-request.yaml
  .tekton/redis-push.yaml
  .tekton/updatetree-pull-request.yaml
  .tekton/updatetree-push.yaml
Due: createtree-on-pull-request, database-on-push, logserver-on-push, redis-on-pull-request, updatetree-on-push

chore: add ALLOW_CROSS_PLATFORM_IMAGES parameter to pipeline configurations
  .tekton/trillian-cli-stack-pull-request.yaml
  .tekton/trillian-cli-stack-push.yaml
Due: none

feat: add build tags to limit compiled backends for FIPS compliance
  Build-clis.mak
  Dockerfile.createtree.rh
  Dockerfile.logserver.rh
  Dockerfile.logsigner.rh
  Dockerfile.updatetree.rh
Due: createtree-on-pull-request, logserver-on-push, updatetree-on-push

chore: remove old build targets
  Build-clis.mak
Due: createtree-on-pull-request, updatetree-on-push

feat: move fips140 godebug from go.mod to .rh Dockerfile build time
  .github/workflows/golangci-lint.yml
  .github/workflows/test_crdb.yaml
  .github/workflows/test_pgdb.yaml
  Dockerfile.cli-stack.rh
  Dockerfile.createtree.rh
  Dockerfile.logserver.rh
  Dockerfile.logsigner.rh
  Dockerfile.updatetree.rh
  go.mod
Due: createtree-on-pull-request, logserver-on-push, updatetree-on-push

fix: update Dockerfile to use correct image digests for createtree and updatetree
  Dockerfile.cli-stack.rh
Due: none

fix: update Dockerfile to use correct image digests for createtree and updatetree (#731)
  Dockerfile.cli-stack.rh
Due: none

Update trillian-cli-stack digests from Wave 1 builds
  Dockerfile.cli-stack.rh
Due: none

Update trillian-cli-stack digests from Wave 1 builds (#736)
  Dockerfile.cli-stack.rh
Due: none

feat: add OpenTelemetry tracing support to log server
  cmd/trillian_log_server/main.go
  go.mod
  go.sum
Due: createtree-on-pull-request, logserver-on-push, updatetree-on-push

Update release-version from 1.4.0 to 1.5.0
  .tekton/createtree-pull-request.yaml
  .tekton/createtree-push.yaml
  .tekton/database-pull-request.yaml
  .tekton/database-push.yaml
  .tekton/logserver-pull-request.yaml
  .tekton/logserver-push.yaml
  .tekton/logsigner-pull-request.yaml
  .tekton/logsigner-push.yaml
  .tekton/redis-pull-request.yaml
  .tekton/redis-push.yaml
  .tekton/trillian-cli-stack-pull-request.yaml
  .tekton/trillian-cli-stack-push.yaml
  .tekton/updatetree-pull-request.yaml
  .tekton/updatetree-push.yaml
Due: createtree-on-pull-request, database-on-push, logserver-on-push, redis-on-pull-request, updatetree-on-push

Update release-version from 1.4.0 to 1.5.0 (#738)
  .tekton/createtree-pull-request.yaml
  .tekton/createtree-push.yaml
  .tekton/database-pull-request.yaml
  .tekton/database-push.yaml
  .tekton/logserver-pull-request.yaml
  .tekton/logserver-push.yaml
  .tekton/logsigner-pull-request.yaml
  .tekton/logsigner-push.yaml
  .tekton/redis-pull-request.yaml
  .tekton/redis-push.yaml
  .tekton/trillian-cli-stack-pull-request.yaml
  .tekton/trillian-cli-stack-push.yaml
  .tekton/updatetree-pull-request.yaml
  .tekton/updatetree-push.yaml
Due: createtree-on-pull-request, database-on-push, logserver-on-push, redis-on-pull-request, updatetree-on-push

Release version updated to 1.4.3
  .tekton/createtree-pull-request.yaml
  .tekton/createtree-push.yaml
  .tekton/database-pull-request.yaml
  .tekton/database-push.yaml
  .tekton/logserver-pull-request.yaml
  .tekton/logserver-push.yaml
  .tekton/logsigner-pull-request.yaml
  .tekton/logsigner-push.yaml
  .tekton/redis-pull-request.yaml
  .tekton/redis-push.yaml
  .tekton/trillian-cli-stack-pull-request.yaml
  .tekton/trillian-cli-stack-push.yaml
  .tekton/updatetree-pull-request.yaml
  .tekton/updatetree-push.yaml
Due: createtree-on-pull-request, database-on-push, logserver-on-push, redis-on-pull-request, updatetree-on-push

Release version updated to 1.4.3 (#742)
  .tekton/createtree-pull-request.yaml
  .tekton/createtree-push.yaml
  .tekton/database-pull-request.yaml
  .tekton/database-push.yaml
  .tekton/logserver-pull-request.yaml
  .tekton/logserver-push.yaml
  .tekton/logsigner-pull-request.yaml
  .tekton/logsigner-push.yaml
  .tekton/redis-pull-request.yaml
  .tekton/redis-push.yaml
  .tekton/trillian-cli-stack-pull-request.yaml
  .tekton/trillian-cli-stack-push.yaml
  .tekton/updatetree-pull-request.yaml
  .tekton/updatetree-push.yaml
Due: createtree-on-pull-request, database-on-push, logserver-on-push, redis-on-pull-request, updatetree-on-push

Update trillian cli-stack image digests from Wave 1 builds 2026-07-29
  Dockerfile.cli-stack.rh
Due: none

Update trillian cli-stack image digests from Wave 1 builds 2026-07-29 (#743)
  Dockerfile.cli-stack.rh
Due: none

Update cli-stacks image digests from Wave 1 builds 2026-07-30
  Dockerfile.cli-stack.rh
Due: none

Update cli-stacks image digests from Wave 1 builds 2026-07-30 (#745)
  Dockerfile.cli-stack.rh
Due: none

build: enable hermetic builds for trillian cli-stack
  .tekton/trillian-cli-stack-pull-request.yaml
  .tekton/trillian-cli-stack-push.yaml
Due: none

Path conditions:
  createtree-on-pull-request: (((((((any of: .tekton/createtree-pull-request.yaml) or (any of: Dockerfile.createtree.rh)) or (any of: trigger-konflux-builds.txt)) or (any of: go.mod)) or (any of: go.sum)) or (any of: cmd/createtree/***)) or (any of: client/***)) or (any of: Build-clis.mak)
  database-on-push: (((((any of: 60-load-db.sh) or (any of: examples/deployment/docker/db_server/mysql.cnf)) or (any of: storage/mysql/schema/storage.sql)) or (any of: .tekton/database-push.yaml)) or (any of: Dockerfile.database.rh)) or (any of: trigger-konflux-builds.txt)
  logserver-on-push: ((((((any of: go.mod) or (any of: go.sum)) or (any of: .tekton/logserver-push.yaml)) or (any of: Dockerfile.logserver.rh)) or (any of: cmd/trillian_log_server/***)) or (any of: storage/***)) or (any of: trigger-konflux-builds.txt)
  redis-on-pull-request: ((any of: .tekton/redis-pull-request.yaml) or (any of: Dockerfile.redis.rh)) or (any of: trigger-konflux-builds.txt)
  updatetree-on-push: (((((((any of: .tekton/updatetree-push.yaml) or (any of: Dockerfile.updatetree.rh)) or (any of: trigger-konflux-builds.txt)) or (any of: go.mod)) or (any of: go.sum)) or (any of: cmd/updatetree/***)) or (any of: client/***)) or (any of: Build-clis.mak)
