Repository securesign/trillian: changes, and which Tekton pipelines are due for each by the changed paths.
All: database-on-pull-request, logserver-on-pull-request

Path conditions:
  database-on-pull-request: (((((any of: 60-load-db.sh) or (any of: examples/deployment/docker/db_server/mysql.cnf)) or (any of: storage/mysql/schema/storage.sql)) or (any of: .tekton/database-pull-request.yaml)) or (any of: Dockerfile.database.rh)) or (any of: trigger-konflux-builds.txt)
  logserver-on-pull-request: (((((any of: go.mod) or (any of: go.sum)) or (any of: .tekton/logserver-pull-request.yaml)) or (any of: Dockerfile.logserver.rh)) or (any of: cmd/trillian_log_server/***)) or (any of: trigger-konflux-builds.txt)

:robot: Update registry.access.redhat.com/ubi9/ubi-minimal image ref in Dockerfiles from efadc50470c to f5d2c6a1e0c
  Dockerfile.createtree.rh
  Dockerfile.logserver.rh
  Dockerfile.logsigner.rh
  Dockerfile.netcat.rh
  Dockerfile.updatetree.rh
Due: logserver-on-pull-request

:robot: Update registry.access.redhat.com/ubi9/go-toolset image ref in Dockerfiles from 2fead14be27 to b03f78d00ca
  Dockerfile.createtree.rh
  Dockerfile.logserver.rh
  Dockerfile.logsigner.rh
  Dockerfile.updatetree.rh
Due: logserver-on-pull-request

:robot: Update registry.redhat.io/rhel9/redis-6 image ref in Dockerfiles from 09357f3e2f2 to e12fc597014
  Dockerfile.redis.rh
Due: none

:robot: Update registry.redhat.io/rhel9/mariadb-105 image ref in Dockerfiles from f5caff2f09a to 4d541665420
  Dockerfile.database.rh
Due: database-on-pull-request

:robot: Update registry.redhat.io/rhel9/redis-6 image ref in Dockerfiles from 09357f3e2f2 to 77048673cbc
  Dockerfile.redis.rh
Due: none

:robot: Update registry.redhat.io/rhel9/mariadb-105 image ref in Dockerfiles from f5caff2f09a to 3846e4a70c0
  Dockerfile.database.rh
Due: database-on-pull-request

:robot: Update registry.access.redhat.com/ubi9/go-toolset image ref in Dockerfiles from 2fead14be27 to 9cf1e647ac3
  Dockerfile.createtree.rh
  Dockerfile.logserver.rh
  Dockerfile.logsigner.rh
  Dockerfile.updatetree.rh
Due: logserver-on-pull-request

Getting Newest Release of Redis
  Dockerfile.redis.rh
Due: none

:robot: Update registry.access.redhat.com/ubi9/go-toolset image ref in Dockerfiles from 9cf1e647ac3 to d73c4151518
  Dockerfile.createtree.rh
  Dockerfile.logserver.rh
  Dockerfile.logsigner.rh
  Dockerfile.updatetree.rh
Due: logserver-on-pull-request

add_rpm_scan
  .tekton/createtree-pull-request.yaml
  .tekton/createtree-push.yaml
  .tekton/database-pull-request.yaml
  .tekton/database-push.yaml
  .tekton/logserver-pull-request.yaml
  .tekton/logserver-push.yaml
  .tekton/logsigner-pull-request.yaml
  .tekton/logsigner-push.yaml
  .tekton/redis-pull-request.yaml
  .tekton/redis-push.yaml
  .tekton/updatetree-pull-request.yaml
  .tekton/updatetree-push.yaml
Due: database-on-pull-request, logserver-on-pull-request

add_rpm_scan (#296)
  .tekton/createtree-pull-request.yaml
  .tekton/createtree-push.yaml
  .tekton/database-pull-request.yaml
  .tekton/database-push.yaml
  .tekton/logserver-pull-request.yaml
  .tekton/logserver-push.yaml
  .tekton/logsigner-pull-request.yaml
  .tekton/logsigner-push.yaml
  .tekton/redis-pull-request.yaml
  .tekton/redis-push.yaml
  .tekton/updatetree-pull-request.yaml
  .tekton/updatetree-push.yaml
Due: database-on-pull-request, logserver-on-pull-request

update base images
  Dockerfile.createtree.rh
  Dockerfile.database.rh
  Dockerfile.logserver.rh
  Dockerfile.logsigner.rh
  Dockerfile.netcat.rh
  Dockerfile.redis.rh
  Dockerfile.updatetree.rh
Due: database-on-pull-request, logserver-on-pull-request

update base image of unit tests
  .tekton/trillian-unit-test.yaml
Due: none

:robot: Update registry.redhat.io/rhel9/mariadb-105 image ref in Dockerfiles from 3846e4a70c0 to 350b5ef9db5
  Dockerfile.database.rh
Due: database-on-pull-request

:robot: Update registry.access.redhat.com/ubi9/ubi-minimal image ref in Dockerfiles from f5d2c6a1e0c to 8b6978d5557
  Dockerfile.createtree.rh
  Dockerfile.logserver.rh
  Dockerfile.logsigner.rh
  Dockerfile.netcat.rh
  Dockerfile.updatetree.rh
Due: logserver-on-pull-request

:robot: Update registry.access.redhat.com/ubi9/go-toolset image ref in Dockerfiles from d73c4151518 to c7bfd2501cb
  Dockerfile.createtree.rh
  Dockerfile.logserver.rh
  Dockerfile.logsigner.rh
  Dockerfile.updatetree.rh
Due: logserver-on-pull-request

:robot: Update registry.redhat.io/rhel9/redis-6 image ref in Dockerfiles from 77048673cbc to 75f938ea8ec
  Dockerfile.redis.rh
Due: none

update-konflux-pipelines-to-use-refs
  .tekton/createtree-pull-request.yaml
  .tekton/createtree-push.yaml
  .tekton/database-pull-request.yaml
  .tekton/database-push.yaml
  .tekton/logserver-pull-request.yaml
  .tekton/logserver-push.yaml
  .tekton/logsigner-pull-request.yaml
  .tekton/logsigner-push.yaml
  .tekton/redis-pull-request.yaml
  .tekton/redis-push.yaml
  .tekton/trillian-unit-test.yaml
  .tekton/updatetree-pull-request.yaml
  .tekton/updatetree-push.yaml
Due: database-on-pull-request, logserver-on-pull-request

update-konflux-pipelines-to-use-refs (#302)
  .tekton/createtree-pull-request.yaml
  .tekton/createtree-push.yaml
  .tekton/database-pull-request.yaml
  .tekton/database-push.yaml
  .tekton/logserver-pull-request.yaml
  .tekton/logserver-push.yaml
  .tekton/logsigner-pull-request.yaml
  .tekton/logsigner-push.yaml
  .tekton/redis-pull-request.yaml
  .tekton/redis-push.yaml
  .tekton/trillian-unit-test.yaml
  .tekton/updatetree-pull-request.yaml
  .tekton/updatetree-push.yaml
Due: database-on-pull-request, logserver-on-pull-request

update-cel-expressions
  .tekton/createtree-pull-request.yaml
  .tekton/createtree-push.yaml
  .tekton/database-pull-request.yaml
  .tekton/database-push.yaml
  .tekton/logserver-pull-request.yaml
  .tekton/logserver-push.yaml
  .tekton/logsigner-pull-request.yaml
  .tekton/logsigner-push.yaml
  .tekton/redis-pull-request.yaml
  .tekton/redis-push.yaml
  .tekton/updatetree-pull-request.yaml
  .tekton/updatetree-push.yaml
Due: database-on-pull-request, logserver-on-pull-request

update-cel-expressions (#303)
  .tekton/createtree-pull-request.yaml
  .tekton/createtree-push.yaml
  .tekton/database-pull-request.yaml
  .tekton/database-push.yaml
  .tekton/logserver-pull-request.yaml
  .tekton/logserver-push.yaml
  .tekton/logsigner-pull-request.yaml
  .tekton/logsigner-push.yaml
  .tekton/redis-pull-request.yaml
  .tekton/redis-push.yaml
  .tekton/updatetree-pull-request.yaml
  .tekton/updatetree-push.yaml
Due: database-on-pull-request, logserver-on-pull-request
