Repository securesign/trillian: changes, and which Tekton pipelines are due for each by the changed paths.
All: database-on-pull-request, logserver-on-pull-request, redis-on-pull-request, updatetree-on-push

Path conditions:
  database-on-pull-request: (((((any of: 60-load-db.sh) or (any of: examples/deployment/docker/db_server/mysql.cnf)) or (any of: storage/mysql/schema/storage.sql)) or (any of: .tekton/database-pull-request.yaml)) or (any of: Dockerfile.database.rh)) or (any of: trigger-konflux-builds.txt)
  logserver-on-pull-request: (((((any of: go.mod) or (any of: go.sum)) or (any of: .tekton/logserver-pull-request.yaml)) or (any of: Dockerfile.logserver.rh)) or (any of: cmd/trillian_log_server/***)) or (any of: trigger-konflux-builds.txt)
  redis-on-pull-request: ((any of: .tekton/redis-pull-request.yaml) or (any of: Dockerfile.redis.rh)) or (any of: trigger-konflux-builds.txt)
  updatetree-on-push: (((((((any of: .tekton/updatetree-push.yaml) or (any of: Dockerfile.updatetree.rh)) or (any of: trigger-konflux-builds.txt)) or (any of: go.mod)) or (any of: go.sum)) or (any of: cmd/updatetree)) or (any of: client)) or (any of: Build-clis.mak)

chore(KONFLUX-6210): fix and set name and cpe label for createtree (#465)
  Dockerfile.createtree.rh
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for database (#464)
  Dockerfile.database.rh
Due: database-on-pull-request

chore(KONFLUX-6210): fix and set name and cpe label for updatetree (#461)
  Dockerfile.updatetree.rh
Due: updatetree-on-push

chore(KONFLUX-6210): fix and set name and cpe label for logserver (#463)
  Dockerfile.logserver.rh
Due: logserver-on-pull-request

chore(KONFLUX-6210): fix and set name and cpe label for logsigner (#462)
  Dockerfile.logsigner.rh
Due: none

:robot: Updated timestamp file to 2025-09-22,09-32-45.
  trigger-konflux-builds.txt
Due: database-on-pull-request, logserver-on-pull-request, redis-on-pull-request, updatetree-on-push

chore(KONFLUX-6210): fix and set name and cpe label for redis
  Dockerfile.redis.rh
Due: redis-on-pull-request

Updating labels
  Dockerfile.createtree.rh
  Dockerfile.database.rh
  Dockerfile.logserver.rh
  Dockerfile.logsigner.rh
  Dockerfile.redis.rh
  Dockerfile.updatetree.rh
Due: database-on-pull-request, logserver-on-pull-request, redis-on-pull-request, updatetree-on-push

Removing CPE label
  Dockerfile.createtree.rh
  Dockerfile.database.rh
  Dockerfile.logserver.rh
  Dockerfile.logsigner.rh
  Dockerfile.redis.rh
  Dockerfile.updatetree.rh
Due: database-on-pull-request, logserver-on-pull-request, redis-on-pull-request, updatetree-on-push

Updating labels (#468)
  Dockerfile.createtree.rh
  Dockerfile.database.rh
  Dockerfile.logserver.rh
  Dockerfile.logsigner.rh
  Dockerfile.redis.rh
  Dockerfile.updatetree.rh
Due: database-on-pull-request, logserver-on-pull-request, redis-on-pull-request, updatetree-on-push

Test Limit increase
  .tekton/createtree-pull-request.yaml
  .tekton/createtree-push.yaml
  .tekton/database-pull-request.yaml
  .tekton/database-push.yaml
  .tekton/logserver-pull-request.yaml
  .tekton/logserver-push.yaml
  .tekton/logsigner-pull-request.yaml
  .tekton/logsigner-push.yaml
  .tekton/redis-pull-request.yaml
  .tekton/redis-push.yaml
  .tekton/updatetree-pull-request.yaml
  .tekton/updatetree-push.yaml
Due: database-on-pull-request, logserver-on-pull-request, redis-on-pull-request, updatetree-on-push

Test Limit increase (#471)
  .tekton/createtree-pull-request.yaml
  .tekton/createtree-push.yaml
  .tekton/database-pull-request.yaml
  .tekton/database-push.yaml
  .tekton/logserver-pull-request.yaml
  .tekton/logserver-push.yaml
  .tekton/logsigner-pull-request.yaml
  .tekton/logsigner-push.yaml
  .tekton/redis-pull-request.yaml
  .tekton/redis-push.yaml
  .tekton/updatetree-pull-request.yaml
  .tekton/updatetree-push.yaml
Due: database-on-pull-request, logserver-on-pull-request, redis-on-pull-request, updatetree-on-push

chore: trigger konflux builds
  trigger-konflux-builds.txt
Due: database-on-pull-request, logserver-on-pull-request, redis-on-pull-request, updatetree-on-push

chore: trigger konflux builds (#472)
  trigger-konflux-builds.txt
Due: database-on-pull-request, logserver-on-pull-request, redis-on-pull-request, updatetree-on-push

:robot: Updated timestamp file to 2025-10-17,13-51-25.
  trigger-konflux-builds.txt
Due: database-on-pull-request, logserver-on-pull-request, redis-on-pull-request, updatetree-on-push

fix: correct licence and user init
  Dockerfile.database.rh
  Dockerfile.logserver.rh
  Dockerfile.logsigner.rh
  Dockerfile.redis.rh
Due: database-on-pull-request, logserver-on-pull-request, redis-on-pull-request

fix: correct licence and user init (#475)
  Dockerfile.database.rh
  Dockerfile.logserver.rh
  Dockerfile.logsigner.rh
  Dockerfile.redis.rh
Due: database-on-pull-request, logserver-on-pull-request, redis-on-pull-request

ci: add fips check
  .tekton/createtree-pull-request.yaml
  .tekton/createtree-push.yaml
  .tekton/database-pull-request.yaml
  .tekton/database-push.yaml
  .tekton/logserver-pull-request.yaml
  .tekton/logserver-push.yaml
  .tekton/logsigner-pull-request.yaml
  .tekton/logsigner-push.yaml
  .tekton/redis-pull-request.yaml
  .tekton/redis-push.yaml
  .tekton/updatetree-pull-request.yaml
  .tekton/updatetree-push.yaml
Due: database-on-pull-request, logserver-on-pull-request, redis-on-pull-request, updatetree-on-push

:robot: Updated timestamp file to 2025-10-30,12-20-10.
  trigger-konflux-builds.txt
Due: database-on-pull-request, logserver-on-pull-request, redis-on-pull-request, updatetree-on-push

ci: add fips check
  .tekton/createtree-pull-request.yaml
  .tekton/createtree-push.yaml
  .tekton/database-pull-request.yaml
  .tekton/database-push.yaml
  .tekton/logserver-pull-request.yaml
  .tekton/logserver-push.yaml
  .tekton/logsigner-pull-request.yaml
  .tekton/logsigner-push.yaml
  .tekton/redis-pull-request.yaml
  .tekton/redis-push.yaml
  .tekton/updatetree-pull-request.yaml
  .tekton/updatetree-push.yaml
  Build-clis.mak
  Dockerfile.createtree.rh
  Dockerfile.updatetree.rh
Due: database-on-pull-request, logserver-on-pull-request, redis-on-pull-request, updatetree-on-push

:robot: Updated timestamp file to 2025-11-04,08-33-43.
  trigger-konflux-builds.txt
Due: database-on-pull-request, logserver-on-pull-request, redis-on-pull-request, updatetree-on-push

:robot: Updated timestamp file to 2025-11-12,09-46-51.
  trigger-konflux-builds.txt
Due: database-on-pull-request, logserver-on-pull-request, redis-on-pull-request, updatetree-on-push

fix: correct permissions
  Dockerfile.database.rh
Due: database-on-pull-request

TEST - enable TLS on postgreSQL
  storage/postgresql/provider.go
Due: none

updates
  storage/postgresql/provider.go
Due: none

generate trillian images
  examples/deployment/docker/db_server/postgresql/Dockerfile
Due: none

Enable TLS support for PostgreSQL (#3831)
  CHANGELOG.md
  storage/postgresql/provider.go
  storage/postgresql/provider_test.go
Due: none

update trillian server/signer pipelines on-cel-expression
  .tekton/logserver-pull-request.yaml
  .tekton/logserver-push.yaml
  .tekton/logsigner-pull-request.yaml
  .tekton/logsigner-push.yaml
Due: logserver-on-pull-request

Enable TLS support for PostgreSQL (#3831) (#484)
  .tekton/logserver-pull-request.yaml
  .tekton/logserver-push.yaml
  .tekton/logsigner-pull-request.yaml
  .tekton/logsigner-push.yaml
  CHANGELOG.md
  storage/postgresql/provider.go
  storage/postgresql/provider_test.go
Due: logserver-on-pull-request

Red Hat Konflux purge updatetree
  .tekton/updatetree-pull-request.yaml
  .tekton/updatetree-push.yaml
Due: updatetree-on-push

Red Hat Konflux update updatetree
  .tekton/updatetree-pull-request.yaml
  .tekton/updatetree-push.yaml
Due: updatetree-on-push

Red Hat Konflux update updatetree-v1-3
  .tekton/updatetree-v1-3-pull-request.yaml
  .tekton/updatetree-v1-3-push.yaml
Due: none

Red Hat Konflux update updatetree-v1-2
  .tekton/updatetree-v1-2-pull-request.yaml
  .tekton/updatetree-v1-2-push.yaml
Due: none

Components versions updated in tekton pipelines for 1.3
  .tekton/createtree-pull-request.yaml
  .tekton/createtree-push.yaml
  .tekton/database-pull-request.yaml
  .tekton/database-push.yaml
  .tekton/logserver-pull-request.yaml
  .tekton/logserver-push.yaml
  .tekton/logsigner-pull-request.yaml
  .tekton/logsigner-push.yaml
  .tekton/redis-pull-request.yaml
  .tekton/redis-push.yaml
  .tekton/updatetree-pull-request.yaml
  .tekton/updatetree-push.yaml
Due: database-on-pull-request, logserver-on-pull-request, redis-on-pull-request, updatetree-on-push

Components versions updated in tekton pipelines for 1.2
  .tekton/createtree-pull-request.yaml
  .tekton/createtree-push.yaml
  .tekton/database-pull-request.yaml
  .tekton/database-push.yaml
  .tekton/logserver-pull-request.yaml
  .tekton/logserver-push.yaml
  .tekton/logsigner-pull-request.yaml
  .tekton/logsigner-push.yaml
  .tekton/redis-pull-request.yaml
  .tekton/redis-push.yaml
  .tekton/updatetree-pull-request.yaml
  .tekton/updatetree-push.yaml
Due: database-on-pull-request, logserver-on-pull-request, redis-on-pull-request, updatetree-on-push

Components versions updated in tekton pipelines for main
  .tekton/createtree-pull-request.yaml
  .tekton/createtree-push.yaml
  .tekton/database-pull-request.yaml
  .tekton/database-push.yaml
  .tekton/logserver-pull-request.yaml
  .tekton/logserver-push.yaml
  .tekton/logsigner-pull-request.yaml
  .tekton/logsigner-push.yaml
  .tekton/redis-pull-request.yaml
  .tekton/redis-push.yaml
  .tekton/updatetree-pull-request.yaml
  .tekton/updatetree-push.yaml
Due: database-on-pull-request, logserver-on-pull-request, redis-on-pull-request, updatetree-on-push

chore: bump builder images
  Dockerfile.createtree.rh
  Dockerfile.database.rh
  Dockerfile.logserver.rh
  Dockerfile.logsigner.rh
  Dockerfile.netcat.rh
  Dockerfile.redis.rh
  Dockerfile.updatetree.rh
Due: database-on-pull-request, logserver-on-pull-request, redis-on-pull-request, updatetree-on-push
