Repository securesign/trillian: changes, and which Tekton pipelines are due for each by the changed paths.
All: database-on-pull-request, logserver-on-pull-request, redis-on-pull-request, updatetree-on-push

Path conditions:
  database-on-pull-request: (((((any of: 60-load-db.sh) or (any of: examples/deployment/docker/db_server/mysql.cnf)) or (any of: storage/mysql/schema/storage.sql)) or (any of: .tekton/database-pull-request.yaml)) or (any of: Dockerfile.database.rh)) or (any of: trigger-konflux-builds.txt)
  logserver-on-pull-request: (((((any of: go.mod) or (any of: go.sum)) or (any of: .tekton/logserver-pull-request.yaml)) or (any of: Dockerfile.logserver.rh)) or (any of: cmd/trillian_log_server/***)) or (any of: trigger-konflux-builds.txt)
  redis-on-pull-request: ((any of: .tekton/redis-pull-request.yaml) or (any of: Dockerfile.redis.rh)) or (any of: trigger-konflux-builds.txt)
  updatetree-on-push: (((((((any of: .tekton/updatetree-push.yaml) or (any of: Dockerfile.updatetree.rh)) or (any of: trigger-konflux-builds.txt)) or (any of: go.mod)) or (any of: go.sum)) or (any of: cmd/updatetree)) or (any of: client)) or (any of: Build-clis.mak)

Swapping builder images to Redhat Brew Registry builder images
  Dockerfile.createtree.rh
  Dockerfile.logserver.rh
  Dockerfile.logsigner.rh
  Dockerfile.updatetree.rh
Due: logserver-on-pull-request, updatetree-on-push

Adding -mod=mod
  Build-clis.mak
  Dockerfile.logserver.rh
  Dockerfile.logsigner.rh
Due: logserver-on-pull-request, updatetree-on-push

Bump the github-actions-deps group with 2 updates (#3736) (#349)
  .github/workflows/golangci-lint.yml
  .github/workflows/test_crdb.yaml
  .github/workflows/test_pgdb.yaml
  .golangci.yaml
Due: none

Updating build statement within logserver dockerfile
  Dockerfile.logserver.rh
Due: logserver-on-pull-request

[Securesign-2053] | Swapping builder images to Redhat Brew Registry builder images (#350)
  Build-clis.mak
  Dockerfile.createtree.rh
  Dockerfile.logserver.rh
  Dockerfile.logsigner.rh
  Dockerfile.updatetree.rh
Due: logserver-on-pull-request, updatetree-on-push

go update to 1.23 (#3733)
  .github/workflows/golangci-lint.yml
  .github/workflows/test_crdb.yaml
  .github/workflows/test_pgdb.yaml
  README.md
  go.mod
  monitoring/testonly/metrics.go
  server/errors/errors.go
  server/errors/errors_test.go
Due: logserver-on-pull-request, updatetree-on-push

run go mod tidy
  go.mod
  go.sum
Due: logserver-on-pull-request, updatetree-on-push

go update to 1.23 (#3733)
  .github/workflows/golangci-lint.yml
  .github/workflows/test_crdb.yaml
  .github/workflows/test_pgdb.yaml
  CHANGELOG.md
  README.md
  go.mod
  monitoring/testonly/metrics.go
  server/errors/errors.go
  server/errors/errors_test.go
Due: logserver-on-pull-request, updatetree-on-push

Bump deps (#357)
  go.mod
  go.sum
Due: logserver-on-pull-request, updatetree-on-push

run go mod tidy
  go.mod
Due: logserver-on-pull-request, updatetree-on-push

Adding renovate.json to group pr's
  renovate.json
Due: none

Running go mod tidy
  go.mod
  go.sum
Due: logserver-on-pull-request, updatetree-on-push

Tdalton/deps merge (#385)
  go.mod
  go.sum
Due: logserver-on-pull-request, updatetree-on-push

Running go mod tidy
  go.mod
Due: logserver-on-pull-request, updatetree-on-push

Adding renovate.json to group pr's (#384)
  renovate.json
Due: none

Konflux build pipeline service account migration for createtree Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/createtree-pull-request.yaml
  .tekton/createtree-push.yaml
Due: none

Konflux build pipeline service account migration for database Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/database-pull-request.yaml
  .tekton/database-push.yaml
Due: database-on-pull-request

Konflux build pipeline service account migration for logserver Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/logserver-pull-request.yaml
  .tekton/logserver-push.yaml
Due: logserver-on-pull-request

Konflux build pipeline service account migration for logsigner Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/logsigner-pull-request.yaml
  .tekton/logsigner-push.yaml
Due: none

Konflux build pipeline service account migration for redis Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/redis-pull-request.yaml
  .tekton/redis-push.yaml
Due: redis-on-pull-request

Konflux build pipeline service account migration for updatetree Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/updatetree-pull-request.yaml
  .tekton/updatetree-push.yaml
Due: updatetree-on-push

Running Gomod update
  go.mod
  go.sum
Due: logserver-on-pull-request, updatetree-on-push

Updating go-jose to v4.0.5
  go.mod
  go.sum
Due: logserver-on-pull-request, updatetree-on-push

Renaming mergo package
  go.mod
  go.sum
Due: logserver-on-pull-request, updatetree-on-push

Ensure leader resignation on shutdown (#3790)
  CHANGELOG.md
  util/election/runner.go
Due: none

:robot: Updated timestamp file to 2025-06-11,14-51-41.
  trigger-konflux-builds.txt
Due: database-on-pull-request, logserver-on-pull-request, redis-on-pull-request, updatetree-on-push

:robot: Updated timestamp file to 2025-06-17,13-04-56.
  trigger-konflux-builds.txt
Due: database-on-pull-request, logserver-on-pull-request, redis-on-pull-request, updatetree-on-push

Deps Upgrade
  go.mod
  go.sum
Due: logserver-on-pull-request, updatetree-on-push

Updating prometheus dep
  go.mod
  go.sum
Due: logserver-on-pull-request, updatetree-on-push

Bumping Go Version to 1.24 and enabling fips
  Dockerfile.logserver.rh
  Dockerfile.logsigner.rh
Due: logserver-on-pull-request

Correcting Docker Files
  Dockerfile.logserver.rh
  Dockerfile.logsigner.rh
Due: logserver-on-pull-request
