Repository securesign/trillian: changes, and which Tekton pipelines are due for each by the changed paths.
All: database-on-pull-request, logserver-on-pull-request, redis-on-pull-request, updatetree-on-push

database-on-pull-request:
  params:
  - name: dockerfile
    value: Dockerfile.database.rh
  - name: git-url
    value: '{{repo_url}}'
  - name: image-expires-after
    value: 5d
  - name: output-image
    value: quay.io/securesign/trillian-database:on-pr-{{revision}}
  - name: path-context
    value: .
  - name: revision
    value: '{{revision}}'
  ...

logserver-on-pull-request:
  params:
  - name: dockerfile
    value: Dockerfile.logserver.rh
  - name: git-url
    value: '{{repo_url}}'
  - name: image-expires-after
    value: 5d
  - name: output-image
    value: quay.io/securesign/trillian-logserver:on-pr-{{revision}}
  - name: path-context
    value: .
  - name: revision
    value: '{{revision}}'
  ...

redis-on-pull-request:
  params:
  - name: dockerfile
    value: Dockerfile.redis.rh
  - name: git-url
    value: '{{source_url}}'
  - name: image-expires-after
    value: 5d
  - name: output-image
    value: quay.io/securesign/trillian-redis:on-pr-{{revision}}
  - name: path-context
    value: .
  - name: revision
    value: '{{revision}}'
  ...

updatetree-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/securesign/trillian-updatetree:{{revision}}
  - name: dockerfile
    value: Dockerfile.updatetree.rh
  - name: build-source-image
    value: true
  - name: prefetch-input
  ...

Updating all go based containers
  Dockerfile.createtree.rh
  Dockerfile.updatetree.rh
Due: updatetree-on-push

Fixing layer names
  Dockerfile.createtree.rh
  Dockerfile.updatetree.rh
Due: updatetree-on-push

feat(fips): Upgrade Go to 1.24 and enable strict FIPS compliance (#411)
  Dockerfile.createtree.rh
  Dockerfile.logserver.rh
  Dockerfile.logsigner.rh
  Dockerfile.updatetree.rh
Due: logserver-on-pull-request, updatetree-on-push

Updating Mariadb Image
  Dockerfile.database.rh
Due: database-on-pull-request

Updating MariaDb Image (#412)
  Dockerfile.database.rh
Due: database-on-pull-request

:robot: Updated timestamp file to 2025-07-22,14-03-37.
  trigger-konflux-builds.txt
Due: database-on-pull-request, logserver-on-pull-request, redis-on-pull-request, updatetree-on-push

:robot: Updated timestamp file to 2025-07-23,09-26-45.
  trigger-konflux-builds.txt
Due: database-on-pull-request, logserver-on-pull-request, redis-on-pull-request, updatetree-on-push

:robot: Updated timestamp file to 2025-07-30,13-04-02.
  trigger-konflux-builds.txt
Due: database-on-pull-request, logserver-on-pull-request, redis-on-pull-request, updatetree-on-push

restrict request size
  cmd/trillian_log_server/main.go
  cmd/trillian_log_signer/main.go
Due: logserver-on-pull-request

update
  cmd/trillian_log_server/main.go
  cmd/trillian_log_signer/main.go
Due: logserver-on-pull-request

add optional gRPC max message size limit to trillian logserver and logsigner (#3801)
  CHANGELOG.md
  cmd/trillian_log_server/main.go
  cmd/trillian_log_signer/main.go
Due: logserver-on-pull-request

add optional gRPC max message size limit to trillian logserver and logsigner (#3801) (#427)
  CHANGELOG.md
  cmd/trillian_log_server/main.go
  cmd/trillian_log_signer/main.go
Due: logserver-on-pull-request

:robot: Updated timestamp file to 2025-08-05,14-09-37.
  trigger-konflux-builds.txt
Due: database-on-pull-request, logserver-on-pull-request, redis-on-pull-request, updatetree-on-push

:robot: Updated timestamp file to 2025-08-06,10-05-35.
  trigger-konflux-builds.txt
Due: database-on-pull-request, logserver-on-pull-request, redis-on-pull-request, updatetree-on-push

:robot: Updated timestamp file to 2025-08-12,07-41-37.
  trigger-konflux-builds.txt
Due: database-on-pull-request, logserver-on-pull-request, redis-on-pull-request, updatetree-on-push

:robot: Updated timestamp file to 2025-08-12,08-18-51.
  trigger-konflux-builds.txt
Due: database-on-pull-request, logserver-on-pull-request, redis-on-pull-request, updatetree-on-push

:robot: Updated timestamp file to 2025-08-12,09-48-35.
  trigger-konflux-builds.txt
Due: database-on-pull-request, logserver-on-pull-request, redis-on-pull-request, updatetree-on-push

:robot: Updated timestamp file to 2025-08-12,10-20-36.
  trigger-konflux-builds.txt
Due: database-on-pull-request, logserver-on-pull-request, redis-on-pull-request, updatetree-on-push

:robot: Updated timestamp file to 2025-08-12,11-16-13.
  trigger-konflux-builds.txt
Due: database-on-pull-request, logserver-on-pull-request, redis-on-pull-request, updatetree-on-push

:robot: Updated timestamp file to 2025-08-13,08-07-36.
  trigger-konflux-builds.txt
Due: database-on-pull-request, logserver-on-pull-request, redis-on-pull-request, updatetree-on-push

:robot: Updated timestamp file to 2025-08-13,12-55-39.
  trigger-konflux-builds.txt
Due: database-on-pull-request, logserver-on-pull-request, redis-on-pull-request, updatetree-on-push

:robot: Updated timestamp file to 2025-08-13,13-12-50.
  trigger-konflux-builds.txt
Due: database-on-pull-request, logserver-on-pull-request, redis-on-pull-request, updatetree-on-push

:robot: Updated timestamp file to 2025-08-15,12-14-05.
  trigger-konflux-builds.txt
Due: database-on-pull-request, logserver-on-pull-request, redis-on-pull-request, updatetree-on-push

:robot: Updated timestamp file to 2025-08-17,17-39-04.
  trigger-konflux-builds.txt
Due: database-on-pull-request, logserver-on-pull-request, redis-on-pull-request, updatetree-on-push

Running Gomod update
  go.mod
  go.sum
Due: logserver-on-pull-request, updatetree-on-push

Updating go-jose to v4.0.5
  go.mod
  go.sum
Due: logserver-on-pull-request, updatetree-on-push

Deps Upgrade
  go.mod
  go.sum
Due: logserver-on-pull-request, updatetree-on-push

Updating prometheus dep
  go.mod
  go.sum
Due: logserver-on-pull-request, updatetree-on-push

Updating Deps
  go.mod
Due: logserver-on-pull-request, updatetree-on-push

:robot: Updated timestamp file to 2025-09-01,10-11-48.
  trigger-konflux-builds.txt
Due: database-on-pull-request, logserver-on-pull-request, redis-on-pull-request, updatetree-on-push

:robot: Updated timestamp file to 2025-09-01,10-48-06.
  trigger-konflux-builds.txt
Due: database-on-pull-request, logserver-on-pull-request, redis-on-pull-request, updatetree-on-push

:robot: Updated timestamp file to 2025-09-01,12-42-24.
  trigger-konflux-builds.txt
Due: database-on-pull-request, logserver-on-pull-request, redis-on-pull-request, updatetree-on-push

:robot: Updated timestamp file to 2025-09-07,19-35-43.
  trigger-konflux-builds.txt
Due: database-on-pull-request, logserver-on-pull-request, redis-on-pull-request, updatetree-on-push

:robot: Updated timestamp file to 2025-09-14,21-05-04.
  trigger-konflux-builds.txt
Due: database-on-pull-request, logserver-on-pull-request, redis-on-pull-request, updatetree-on-push

:robot: Updated timestamp file to 2025-09-14,21-42-07.
  trigger-konflux-builds.txt
Due: database-on-pull-request, logserver-on-pull-request, redis-on-pull-request, updatetree-on-push

chore(KONFLUX-6210): fix and set name and cpe label for updatetree
  Dockerfile.updatetree.rh
Due: updatetree-on-push

chore(KONFLUX-6210): fix and set name and cpe label for logsigner
  Dockerfile.logsigner.rh
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for logserver
  Dockerfile.logserver.rh
Due: logserver-on-pull-request

chore(KONFLUX-6210): fix and set name and cpe label for database
  Dockerfile.database.rh
Due: database-on-pull-request

chore(KONFLUX-6210): fix and set name and cpe label for createtree
  Dockerfile.createtree.rh
Due: none

Path conditions:
  database-on-pull-request: (((((any of: 60-load-db.sh) or (any of: examples/deployment/docker/db_server/mysql.cnf)) or (any of: storage/mysql/schema/storage.sql)) or (any of: .tekton/database-pull-request.yaml)) or (any of: Dockerfile.database.rh)) or (any of: trigger-konflux-builds.txt)
  logserver-on-pull-request: (((((any of: go.mod) or (any of: go.sum)) or (any of: .tekton/logserver-pull-request.yaml)) or (any of: Dockerfile.logserver.rh)) or (any of: cmd/trillian_log_server/***)) or (any of: trigger-konflux-builds.txt)
  redis-on-pull-request: ((any of: .tekton/redis-pull-request.yaml) or (any of: Dockerfile.redis.rh)) or (any of: trigger-konflux-builds.txt)
  updatetree-on-push: (((((((any of: .tekton/updatetree-push.yaml) or (any of: Dockerfile.updatetree.rh)) or (any of: trigger-konflux-builds.txt)) or (any of: go.mod)) or (any of: go.sum)) or (any of: cmd/updatetree)) or (any of: client)) or (any of: Build-clis.mak)
