Repository securesign/trillian: changes, and which Tekton pipelines are due for each by the changed paths.
All: database-on-pull-request, database-on-push, logserver-on-pull-request, redis-on-pull-request, updatetree-on-push

database-on-pull-request:
  params:
  - name: dockerfile
    value: Dockerfile.database.rh
  - name: git-url
    value: '{{repo_url}}'
  - name: image-expires-after
    value: 5d
  - name: output-image
    value: quay.io/securesign/trillian-database:on-pr-{{revision}}
  - name: path-context
    value: .
  - name: revision
    value: '{{revision}}'
  ...

database-on-push:
  params:
  - name: dockerfile
    value: Dockerfile.database.rh
  - name: git-url
    value: '{{repo_url}}'
  - name: output-image
    value: quay.io/securesign/trillian-database:{{revision}}
  - name: path-context
    value: .
  - name: revision
    value: '{{revision}}'
  - name: build-source-image
    value: 'true'
  ...

logserver-on-pull-request:
  params:
  - name: dockerfile
    value: Dockerfile.logserver.rh
  - name: git-url
    value: '{{repo_url}}'
  - name: image-expires-after
    value: 5d
  - name: output-image
    value: quay.io/securesign/trillian-logserver:on-pr-{{revision}}
  - name: path-context
    value: .
  - name: revision
    value: '{{revision}}'
  ...

redis-on-pull-request:
  params:
  - name: dockerfile
    value: Dockerfile.redis.rh
  - name: git-url
    value: '{{source_url}}'
  - name: image-expires-after
    value: 5d
  - name: output-image
    value: quay.io/securesign/trillian-redis:on-pr-{{revision}}
  - name: path-context
    value: .
  - name: revision
    value: '{{revision}}'
  ...

updatetree-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/securesign/trillian-updatetree:{{revision}}
  - name: dockerfile
    value: Dockerfile.updatetree.rh
  - name: build-source-image
    value: 'true'
  - name: prefetch-input
  ...

Trigger Build
  trigger-konflux-builds.txt
Due: database-on-pull-request, database-on-push, logserver-on-pull-request, redis-on-pull-request, updatetree-on-push

Red Hat Konflux purge createtree
  .tekton/createtree-pull-request.yaml
  .tekton/createtree-push.yaml
Due: none

Red Hat Konflux purge logserver
  .tekton/logserver-pull-request.yaml
  .tekton/logserver-push.yaml
Due: logserver-on-pull-request

Red Hat Konflux purge logsigner
  .tekton/logsigner-pull-request.yaml
  .tekton/logsigner-push.yaml
Due: none

Red Hat Konflux purge database
  .tekton/database-pull-request.yaml
  .tekton/database-push.yaml
Due: database-on-pull-request, database-on-push

Red Hat Konflux purge redis
  .tekton/redis-pull-request.yaml
  .tekton/redis-push.yaml
Due: redis-on-pull-request

Red Hat Konflux update database
  .tekton/database-pull-request.yaml
  .tekton/database-push.yaml
Due: database-on-pull-request, database-on-push

Red Hat Konflux update logserver
  .tekton/logserver-pull-request.yaml
  .tekton/logserver-push.yaml
Due: logserver-on-pull-request

Red Hat Konflux update logsigner
  .tekton/logsigner-pull-request.yaml
  .tekton/logsigner-push.yaml
Due: none

Red Hat Konflux update redis
  .tekton/redis-pull-request.yaml
  .tekton/redis-push.yaml
Due: redis-on-pull-request

Red Hat Konflux update database-v1-2
  .tekton/database-v1-2-pull-request.yaml
  .tekton/database-v1-2-push.yaml
Due: none

Red Hat Konflux update logserver-v1-2
  .tekton/logserver-v1-2-pull-request.yaml
  .tekton/logserver-v1-2-push.yaml
Due: none

Red Hat Konflux update logsigner-v1-2
  .tekton/logsigner-v1-2-pull-request.yaml
  .tekton/logsigner-v1-2-push.yaml
Due: none

Red Hat Konflux update redis-v1-2
  .tekton/redis-v1-2-pull-request.yaml
  .tekton/redis-v1-2-push.yaml
Due: none

Red Hat Konflux update database-v1-3
  .tekton/database-v1-3-pull-request.yaml
  .tekton/database-v1-3-push.yaml
Due: none

Red Hat Konflux update logserver-v1-3
  .tekton/logserver-v1-3-pull-request.yaml
  .tekton/logserver-v1-3-push.yaml
Due: none

Red Hat Konflux update logsigner-v1-3
  .tekton/logsigner-v1-3-pull-request.yaml
  .tekton/logsigner-v1-3-push.yaml
Due: none

Red Hat Konflux update redis-v1-3
  .tekton/redis-v1-3-pull-request.yaml
  .tekton/redis-v1-3-push.yaml
Due: none

Red Hat Konflux update create-tree
  .tekton/create-tree-pull-request.yaml
  .tekton/create-tree-push.yaml
Due: none

Red Hat Konflux update create-tree-v1-2
  .tekton/create-tree-v1-2-pull-request.yaml
  .tekton/create-tree-v1-2-push.yaml
Due: none

Red Hat Konflux update create-tree-v1-3
  .tekton/create-tree-v1-3-pull-request.yaml
  .tekton/create-tree-v1-3-push.yaml
Due: none

Updating create-tree application and component for ReOrg
  .tekton/createtree-pull-request.yaml
  .tekton/createtree-push.yaml
Due: none

Updating Createtree konflux links
  .tekton/createtree-push.yaml
Due: none

Updating creatree references
  .tekton/createtree-pull-request.yaml
  .tekton/createtree-push.yaml
Due: none

Updating Service account
  .tekton/createtree-pull-request.yaml
  .tekton/createtree-push.yaml
Due: none

[Konflux as Code] Updating Createtree konflux links 1.2 (#528)
  .tekton/createtree-pull-request.yaml
  .tekton/createtree-push.yaml
Due: none

[Konflux as Code] Updating Create-tree konflux links 1.3 (#530)
  .tekton/createtree-pull-request.yaml
  .tekton/createtree-push.yaml
  trigger-konflux-builds.txt
Due: database-on-pull-request, database-on-push, logserver-on-pull-request, redis-on-pull-request, updatetree-on-push

[Konflux as Code] Updating Create-tree konflux links main (#529)
  .tekton/createtree-pull-request.yaml
  .tekton/createtree-push.yaml
Due: none

:robot: Updated timestamp file to 2026-01-22,12-51-12.
  trigger-konflux-builds.txt
Due: database-on-pull-request, database-on-push, logserver-on-pull-request, redis-on-pull-request, updatetree-on-push

Updating timefile
  trigger-konflux-builds.txt
Due: database-on-pull-request, database-on-push, logserver-on-pull-request, redis-on-pull-request, updatetree-on-push

Updating timefile (#532)
  trigger-konflux-builds.txt
Due: database-on-pull-request, database-on-push, logserver-on-pull-request, redis-on-pull-request, updatetree-on-push

:robot: Updated timestamp file to 2026-01-23,05-38-40.
  trigger-konflux-builds.txt
Due: database-on-pull-request, database-on-push, logserver-on-pull-request, redis-on-pull-request, updatetree-on-push

:robot: Updated timestamp file to 2026-01-23,08-22-22.
  trigger-konflux-builds.txt
Due: database-on-pull-request, database-on-push, logserver-on-pull-request, redis-on-pull-request, updatetree-on-push

chore: add release-version param
  .tekton/createtree-pull-request.yaml
  .tekton/createtree-push.yaml
  .tekton/database-pull-request.yaml
  .tekton/database-push.yaml
  .tekton/logserver-pull-request.yaml
  .tekton/logserver-push.yaml
  .tekton/logsigner-pull-request.yaml
  .tekton/logsigner-push.yaml
  .tekton/redis-pull-request.yaml
  .tekton/redis-push.yaml
  .tekton/updatetree-pull-request.yaml
  .tekton/updatetree-push.yaml
Due: database-on-pull-request, database-on-push, logserver-on-pull-request, redis-on-pull-request, updatetree-on-push

chore: add release-version param (#536)
  .tekton/createtree-pull-request.yaml
  .tekton/createtree-push.yaml
  .tekton/database-pull-request.yaml
  .tekton/database-push.yaml
  .tekton/logserver-pull-request.yaml
  .tekton/logserver-push.yaml
  .tekton/logsigner-pull-request.yaml
  .tekton/logsigner-push.yaml
  .tekton/redis-pull-request.yaml
  .tekton/redis-push.yaml
  .tekton/updatetree-pull-request.yaml
  .tekton/updatetree-push.yaml
Due: database-on-pull-request, database-on-push, logserver-on-pull-request, redis-on-pull-request, updatetree-on-push

Path conditions:
  database-on-pull-request: (((((any of: 60-load-db.sh) or (any of: examples/deployment/docker/db_server/mysql.cnf)) or (any of: storage/mysql/schema/storage.sql)) or (any of: .tekton/database-pull-request.yaml)) or (any of: Dockerfile.database.rh)) or (any of: trigger-konflux-builds.txt)
  database-on-push: (((((any of: 60-load-db.sh) or (any of: examples/deployment/docker/db_server/mysql.cnf)) or (any of: storage/mysql/schema/storage.sql)) or (any of: .tekton/database-push.yaml)) or (any of: Dockerfile.database.rh)) or (any of: trigger-konflux-builds.txt)
  logserver-on-pull-request: (((((any of: go.mod) or (any of: go.sum)) or (any of: .tekton/logserver-pull-request.yaml)) or (any of: Dockerfile.logserver.rh)) or (any of: cmd/trillian_log_server/***)) or (any of: trigger-konflux-builds.txt)
  redis-on-pull-request: ((any of: .tekton/redis-pull-request.yaml) or (any of: Dockerfile.redis.rh)) or (any of: trigger-konflux-builds.txt)
  updatetree-on-push: (((((((any of: .tekton/updatetree-push.yaml) or (any of: Dockerfile.updatetree.rh)) or (any of: trigger-konflux-builds.txt)) or (any of: go.mod)) or (any of: go.sum)) or (any of: cmd/updatetree/***)) or (any of: client/***)) or (any of: Build-clis.mak)
