Repository securesign/trillian: changes, and which Tekton pipelines are due for each by the changed paths.
All: database-on-pull-request, logserver-on-pull-request, redis-on-pull-request, updatetree-on-push

database-on-pull-request:
  params:
  - name: dockerfile
    value: Dockerfile.database.rh
  - name: git-url
    value: '{{repo_url}}'
  - name: image-expires-after
    value: 5d
  - name: output-image
    value: quay.io/securesign/trillian-database:on-pr-{{revision}}
  - name: path-context
    value: .
  - name: revision
    value: '{{revision}}'
  ...

logserver-on-pull-request:
  params:
  - name: dockerfile
    value: Dockerfile.logserver.rh
  - name: git-url
    value: '{{repo_url}}'
  - name: image-expires-after
    value: 5d
  - name: output-image
    value: quay.io/securesign/trillian-logserver:on-pr-{{revision}}
  - name: path-context
    value: .
  - name: revision
    value: '{{revision}}'
  ...

redis-on-pull-request:
  params:
  - name: dockerfile
    value: Dockerfile.redis.rh
  - name: git-url
    value: '{{source_url}}'
  - name: image-expires-after
    value: 5d
  - name: output-image
    value: quay.io/securesign/trillian-redis:on-pr-{{revision}}
  - name: path-context
    value: .
  - name: revision
    value: '{{revision}}'
  ...

updatetree-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/securesign/trillian-updatetree:{{revision}}
  - name: dockerfile
    value: Dockerfile.updatetree.rh
  - name: build-source-image
    value: true
  - name: prefetch-input
  ...

fix-cel-expression
  .tekton/createtree-pull-request.yaml
  .tekton/createtree-push.yaml
  .tekton/updatetree-pull-request.yaml
  .tekton/updatetree-push.yaml
Due: updatetree-on-push

fix-cel-expression (#309)
  .tekton/createtree-pull-request.yaml
  .tekton/createtree-push.yaml
  .tekton/updatetree-pull-request.yaml
  .tekton/updatetree-push.yaml
Due: updatetree-on-push

:robot: Update registry.access.redhat.com/ubi9/go-toolset image ref in Dockerfiles from c7bfd2501cb to c9c0129bff8
  Dockerfile.createtree.rh
  Dockerfile.logserver.rh
  Dockerfile.logsigner.rh
  Dockerfile.updatetree.rh
Due: logserver-on-pull-request, updatetree-on-push

:robot: Update registry.redhat.io/rhel9/mariadb-105 image ref in Dockerfiles from 350b5ef9db5 to 0049de377dd
  Dockerfile.database.rh
Due: database-on-pull-request

:robot: Update registry.redhat.io/rhel9/redis-6 image ref in Dockerfiles from 75f938ea8ec to c72b55dbad4
  Dockerfile.redis.rh
Due: redis-on-pull-request

:robot: Update registry.access.redhat.com/ubi9/ubi-minimal image ref in Dockerfiles from 8b6978d5557 to f598528219a
  Dockerfile.createtree.rh
  Dockerfile.logserver.rh
  Dockerfile.logsigner.rh
  Dockerfile.netcat.rh
  Dockerfile.updatetree.rh
Due: logserver-on-pull-request, updatetree-on-push

:robot: Update registry.access.redhat.com/ubi9/ubi-minimal image ref in Dockerfiles from 8b6978d5557 to 94b434a29a8
  Dockerfile.createtree.rh
  Dockerfile.logserver.rh
  Dockerfile.logsigner.rh
  Dockerfile.netcat.rh
  Dockerfile.updatetree.rh
Due: logserver-on-pull-request, updatetree-on-push

:robot: Update registry.redhat.io/rhel9/mariadb-105 image ref in Dockerfiles from 350b5ef9db5 to ef58e353d3f
  Dockerfile.database.rh
Due: database-on-pull-request

:robot: Update registry.redhat.io/rhel9/redis-6 image ref in Dockerfiles from 75f938ea8ec to d3f22dd78a7
  Dockerfile.redis.rh
Due: redis-on-pull-request

:robot: Update registry.access.redhat.com/ubi9/go-toolset image ref in Dockerfiles from c7bfd2501cb to 3b6d9307fc9
  Dockerfile.createtree.rh
  Dockerfile.logserver.rh
  Dockerfile.logsigner.rh
  Dockerfile.updatetree.rh
Due: logserver-on-pull-request, updatetree-on-push

:robot: Updated timestamp file to 2025-01-08,14-09-38.
  trigger-konflux-builds.txt
Due: database-on-pull-request, logserver-on-pull-request, redis-on-pull-request, updatetree-on-push

run go mod tidy
  go.mod
  go.sum
Due: logserver-on-pull-request, updatetree-on-push

:robot: Updated timestamp file to 2025-01-08,15-41-31.
  trigger-konflux-builds.txt
Due: database-on-pull-request, logserver-on-pull-request, redis-on-pull-request, updatetree-on-push

:robot: Updated timestamp file to 2025-01-08,16-15-35.
  trigger-konflux-builds.txt
Due: database-on-pull-request, logserver-on-pull-request, redis-on-pull-request, updatetree-on-push

update image
  Dockerfile.redis.rh
Due: redis-on-pull-request

:robot: Updated timestamp file to 2025-02-24,08-32-22.
  trigger-konflux-builds.txt
Due: database-on-pull-request, logserver-on-pull-request, redis-on-pull-request, updatetree-on-push

:robot: Updated timestamp file to 2025-02-24,11-08-57.
  trigger-konflux-builds.txt
Due: database-on-pull-request, logserver-on-pull-request, redis-on-pull-request, updatetree-on-push

:robot: Updated timestamp file to 2025-02-24,11-24-17.
  trigger-konflux-builds.txt
Due: database-on-pull-request, logserver-on-pull-request, redis-on-pull-request, updatetree-on-push

:robot: Updated timestamp file to 2025-02-24,12-33-36.
  trigger-konflux-builds.txt
Due: database-on-pull-request, logserver-on-pull-request, redis-on-pull-request, updatetree-on-push

:robot: Updated timestamp file to 2025-02-24,12-54-54.
  trigger-konflux-builds.txt
Due: database-on-pull-request, logserver-on-pull-request, redis-on-pull-request, updatetree-on-push

:robot: Updated timestamp file to 2025-02-24,14-01-29.
  trigger-konflux-builds.txt
Due: database-on-pull-request, logserver-on-pull-request, redis-on-pull-request, updatetree-on-push

:robot: Updated timestamp file to 2025-02-24,14-16-58.
  trigger-konflux-builds.txt
Due: database-on-pull-request, logserver-on-pull-request, redis-on-pull-request, updatetree-on-push

:robot: Updated timestamp file to 2025-02-25,09-15-37.
  trigger-konflux-builds.txt
Due: database-on-pull-request, logserver-on-pull-request, redis-on-pull-request, updatetree-on-push

:robot: Updated timestamp file to 2025-03-03,11-46-37.
  trigger-konflux-builds.txt
Due: database-on-pull-request, logserver-on-pull-request, redis-on-pull-request, updatetree-on-push

:robot: Updated timestamp file to 2025-03-11,11-06-42.
  trigger-konflux-builds.txt
Due: database-on-pull-request, logserver-on-pull-request, redis-on-pull-request, updatetree-on-push

Path conditions:
  database-on-pull-request: (((((any of: 60-load-db.sh) or (any of: examples/deployment/docker/db_server/mysql.cnf)) or (any of: storage/mysql/schema/storage.sql)) or (any of: .tekton/database-pull-request.yaml)) or (any of: Dockerfile.database.rh)) or (any of: trigger-konflux-builds.txt)
  logserver-on-pull-request: (((((any of: go.mod) or (any of: go.sum)) or (any of: .tekton/logserver-pull-request.yaml)) or (any of: Dockerfile.logserver.rh)) or (any of: cmd/trillian_log_server/***)) or (any of: trigger-konflux-builds.txt)
  redis-on-pull-request: ((any of: .tekton/redis-pull-request.yaml) or (any of: Dockerfile.redis.rh)) or (any of: trigger-konflux-builds.txt)
  updatetree-on-push: (((((((any of: .tekton/updatetree-push.yaml) or (any of: Dockerfile.updatetree.rh)) or (any of: trigger-konflux-builds.txt)) or (any of: go.mod)) or (any of: go.sum)) or (any of: cmd/updatetree)) or (any of: client)) or (any of: Build-clis.mak)
